packages/
Web/MVC/MVC 5/Identity without EF/bin/
Web/MVC/MVC 5/Identity without EF/obj/
.vs/
Web/MVC/MVC 5/Identity without EF Ext Login/bin/
Web/MVC/MVC 5/Identity without EF Ext Login/obj/
Web/MVC/MVC 5/User Info Page Block/bin/
Web/MVC/MVC 5/User Info Page Block/obj/
MS CRM/MS CRM 2016/Discovery Service Connection/bin/
MS CRM/MS CRM 2016/Discovery Service Connection/obj/
PDF/iTextSharp/Fill PDF Template/bin/
PDF/iTextSharp/Fill PDF Template/obj/
MS CRM/MS CRM 2016/Create Annotation/bin/
MS CRM/MS CRM 2016/Create Annotation/obj/
MS CRM/MS CRM 2016/Entity Metadata/bin/
MS CRM/MS CRM 2016/Entity Metadata/obj/
MS CRM/MS CRM 2016/Plug-in Static State/bin/
MS CRM/MS CRM 2016/Plug-in Static State/obj/
MS CRM/MS CRM 2016/Workflow Static State/bin/
MS CRM/MS CRM 2016/Workflow Static State/obj/
MS CRM/MS CRM 2016/WebResource Dependencies/bin/
MS CRM/MS CRM 2016/WebResource Dependencies/obj/
Web/JS/Charts/bin/
Web/JS/Charts/obj/
File to Base64 String/obj/
File to Base64 String/bin/
