packages/
Web/MVC/MVC 5/Identity without EF/bin/
Web/MVC/MVC 5/Identity without EF/obj/
.vs/
Web/MVC/MVC 5/Identity without EF Ext Login/bin/
Web/MVC/MVC 5/Identity without EF Ext Login/obj/
Web/MVC/MVC 5/User Info Page Block/bin/
Web/MVC/MVC 5/User Info Page Block/obj/
MS CRM/MS CRM 2016/Discovery Service Connection/bin/
MS CRM/MS CRM 2016/Discovery Service Connection/obj/
PDF/iTextSharp/Fill PDF Template/bin/
PDF/iTextSharp/Fill PDF Template/obj/
MS CRM/MS CRM 2016/Create Annotation/bin/
MS CRM/MS CRM 2016/Create Annotation/obj/
MS CRM/MS CRM 2016/Entity Metadata/bin/
MS CRM/MS CRM 2016/Entity Metadata/obj/
MS CRM/MS CRM 2016/Plug-in Static State/bin/
MS CRM/MS CRM 2016/Plug-in Static State/obj/
MS CRM/MS CRM 2016/Workflow Static State/bin/
MS CRM/MS CRM 2016/Workflow Static State/obj/
MS CRM/MS CRM 2016/WebResource Dependencies/bin/
MS CRM/MS CRM 2016/WebResource Dependencies/obj/
Web/JS/Charts/bin/
Web/JS/Charts/obj/
File to Base64 String/obj/
File to Base64 String/bin/
Files/File to Base64 String/bin/
Files/File to Base64 String/obj/
MySQL Connection/bin/
MySQL Connection/obj/
MQ/RabbitMQ/RabbitMQ Consumer/bin/
MQ/RabbitMQ/RabbitMQ Consumer/obj/
MQ/RabbitMQ/RabbitMQ Read Queue/bin/
MQ/RabbitMQ/RabbitMQ Read Queue/obj/
MQ/RabbitMQ/RabbitMQ Write to Queue/bin/
MQ/RabbitMQ/RabbitMQ Write to Queue/obj/
DB/MySQL/MySQL Connection/obj/
MQ/RabbitMQ/Client-Server/RabbitMQ Lib/bin/
MQ/RabbitMQ/Client-Server/RabbitMQ Lib/obj/
MQ/RabbitMQ/Client-Server/RabbitMQ Server/bin/
MQ/RabbitMQ/Client-Server/RabbitMQ Server/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MQ/RabbitMQ/Client-Server/RabbitMQ Server/obj/
MQ/RabbitMQ/RabbitMQ Client/bin/
MQ/RabbitMQ/RabbitMQ Client/obj/
DB/MySQL/MySQL Connection/bin/
CSharp/Async/bin/
CSharp/Async/obj/
MQ/RabbitMQ/RabbitMQ Async Consumer/bin/
MQ/RabbitMQ/RabbitMQ Async Consumer/obj/
Web/MVC/MVC 5/OWIN/bin/
Web/MVC/MVC 5/OWIN/obj/
CSharp/Cast Deserialized Object/bin/
CSharp/Cast Deserialized Object/obj/
Windows/WIndows Service/bin/
Windows/WIndows Service/obj/
